.thing {
  $n: 360;
  $size: 3px;
  
  animation: thingy 5s ease-in infinite alternate;
  border-radius: 75%;
  background: currentColor;
  position: absolute;
  width: $size;
  height: $size;


  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      animation-name: stuff-#{$i};
      animation-delay: $i * 0.00005s;
      color: hsl($i * -1deg, 100%, 50%);
      transform: 
        rotateZ($i * 45deg)
        perspective($size * 8)
        translate3d($i * 1px, $i * 1px, $i * -0.075px)
       ;
    }
    
    @keyframes stuff-#{$i} {
      100% { 
        color: hsl($i * 1deg, 100%, 70%);
        transform: 
          rotateZ($i * 90deg)
          rotateX($i * 1deg)
          perspective($size * 3)
          translate3d($i * -3px, $i * 2px, $i * -0.075px)
        ;
      }
    }
  }
}